<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Node App</title>
  <style>
    .item {
      display: inline-block;
      width: 20px;
      height: 40px;
      background-color: green;
      /* Initialize background color to black */
      color: black;
      /* Initialize text color to white */
      /* margin: 10px; */
      /* cursor: pointer; */
      text-align: center;
      line-height: 100px;
    }
  </style>
</head>

<body>
  <h1>Simple Node App</h1>
  <p class="item" onclick="changeColor(this)">&#9889;</p>
  <p class="item" onclick="changeColor(this)">&#9889;</p>
  <p class="item" onclick="changeColor(this)">&#9889;</p>
  <p class="item" onclick="changeColor(this)">&#9889;</p>

  <script src="/script.js"></script>
</body>

</html>